# /usr/lib/crontab 10/23/90

# Execute atrun every five minutes.
0,5,10,15,20,25,30,35,40,45,50,55 * * * *	/usr/lib/atrun

# Clean uucp logs at 3 AM weekdays.
00 03 * * 1-5	su uucp sh /usr/lib/uucp/uumvlog 5

# Conditionally poll site mwcbbs every day at 8:15 PM
# Remove the comment delimiter and change the times on the next line as desired.
# 15 20 * * *	su uucp /usr/lib/uucp/uucico -smwcbbs

# poll the hp every 10 minutes
#2,12,22,32,42,52 * * * *	/usr/lib/uucp/uucico -Smwc -r1

# update qfind files at 2 AM weekdays
00 02 * * 1-5 su root /bin/qfind -b
